<footer id="pie">
    <div class="pie-mayor">
        <article class="arti-pie">
            <i class="fas fa-credit-card"></i>
            <h1 class="titles">Pagá con tarjeta o en efectivo</h1>
            <p class="description-pie">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="arti-pie">
            <i class="fas fa-gift"></i>
            <h1 class="titles">Envío gratis desde los $ 2.500</h1>
            <p class="description-pie">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.</p>
        </article>
        <article class="arti-pie">
            <i class="fas fa-user-shield"></i>
            <h1 class="titles">Envío gratis desde los $ 2.500</h1>
            <p class="description-pie">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.</p>
        </article>
    </div>
    <div>
        <p class="parragraph">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </div>
  </footer>