<footer id="pie">
    <article class="arti-pie">
      <i class="fas fa-credit-card"></i>
      <h2>Pagá con tarjeta o en efectivo</h2>
      <p class="description">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
          pago. ¡Y siempre es seguro!</p>
  </article>
  <article class="arti-pie">
      <i class="fas fa-gift"></i>
      <h2>Envío gratis desde los $ 2.500</h2>
      <p class="description">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
          productos. Es un beneficio de MercadoPuntos.</p>
  </article>
  <article class="arti-pie">
      <i class="fas fa-user-shield"></i>
      <h2>Envío gratis desde los $ 2.500</h2>
      <p class="description">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
          productos. Es un beneficio de MercadoPuntos.</p>
  </article>
  <div>
      <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
  </div>
  </footer>