<header id="encabezado">
    <div class="logo">
      <img src="images/logo-mercado-liebre.svg" alt="">
    </div> 
    <div>
      <input type="search" name="buscar" id="buscar" placeholder="Buscar productos, marcas y más">
      <i class="fas fa-search"></i>
    </div>
    <div>
      <i class="fas fa-hand-holding-usd"></i>
      <p class="parragraph">Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav id="navegacion">
      <i class="fas fa-bars"></i>
      <ul>
        <li><a href="/products">Todos los productos</a></li>
        <li><a href="/" >Ofertas</a></li>
        <li><a href="/" >Tiendas Oficiales</a></li>
        <li><a href="/" >Vender</a></li>
        <li><a href="/" >Ayuda</a></li>
        <br>
        <li><a href="/register" >Creá tu cuenta</a><i class="far fa-id-card"></i></li>
        <li><a href="/login" >Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
        <li><a href="/">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
      </ul>
    </nav>
  </header>