<header id="encabezado">
  <div class="logo-bus-buy">
    <div class="logo">
      <img src="images/logo-mercado-liebre.svg" alt="">
    </div>
    <div class="bus">
      <input type="search" name="buscar" id="buscar" placeholder="Buscar productos, marcas y más">
      <div class="lupa">
        <i class="fas fa-search"></i>
      </div>        
    </div>  
    <div class="buy-ico">
      <div class="buy">
        <i class="fas fa-hand-holding-usd"></i>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>        
      </div>
    </div>
  </div>
  <div class="ico-nav">
    <div class="icono">
      <i class="fas fa-bars"></i>
      <nav id="navegacion">
        <ul>
          <li><a href="/products">Todos los productos</a></li>
          <li><a href="/" >Ofertas</a></li>
          <li><a href="/" >Tiendas Oficiales</a></li>
          <li><a href="/products/create" >Vender</a></li>
          <li><a href="/" >Ayuda</a></li>
          <br>
          <li><a href="/register" >Creá tu cuenta</a><i class="far fa-id-card"></i></li>
          <li><a href="/login" >Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
          <li><a href="/">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
      </nav>
      
    </div>
    <nav id="navegacion1">
      <ul>
        <div>
          <li><a href="/products">Todos los productos</a></li>
          <li><a href="/" >Ofertas</a></li>
          <li><a href="/" >Tiendas Oficiales</a></li>
          <li><a href="/products/create" >Vender</a></li>
          <li><a href="/" >Ayuda</a></li>

        </div>
        
        <br>
        <div>
          <li><a href="/register" >Creá tu cuenta</a><i class="far fa-id-card"></i></li>
          <li><a href="/login" >Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
          <li><a href="/">Mis compras</a><i class="fas fa-shopping-basket"></i></li>

        </div>
        
      </ul>
    </nav>    
    
  </div>      
</header>