<header id="encabezado">
  <div class="asc">
    <div class="logo">
      <img src="images/logo-mercado-liebre.svg" alt="">
    </div> 
    <div class="buscar">
      <input type="search" name="buscar" id="buscar" placeholder="Buscar productos, marcas y más">
      <div class="lupa">
        <i class="fas fa-search"></i>
      </div>      
    </div>
    <div class="buy asc">
      <div class="d-in">
        <i class="fas fa-hand-holding-usd"></i>
      </div> 
      <p class="parragraph d-in">Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
  </div>
  <div class="icon">
    <div class="ico">
      <i class="fas fa-bars"></i>
      <nav id="navegacion" class="asc">
        <ul class="panel">
          <li><a href="/products">Todos los productos</a></li>
          <li><a href="/" >Ofertas</a></li>
          <li><a href="/" >Tiendas Oficiales</a></li>
          <li><a href="/products/create" >Vender</a></li>
          <li><a href="/" >Ayuda</a></li>
          <br>
          <li><a href="/register" >Creá tu cuenta</a><i class="far fa-id-card"></i></li>
          <li><a href="/login" >Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
          <li><a href="/">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
      </nav>
    </div>
    

  </div>
  
</header>