<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title: 'Inicio'}) %>
<body>
  <%- include('./partials/headerNavbar') %>
  <section id="banner">
    <img src="images/img-home-banner.jpg" alt="banner">
  </section>
  <main id="principal">
    <section class="visitas">
      <h1 class="titles">Basado en tu última visita</h1>
      <div class="visi">
      <article class="arti">
        <img src="images/products/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <div class="bloque">
          <div class="icono">
            <i class="fas fa-truck"></i>
          </div>
          <div class="total">          
            <span class="price">$6.770</span>         
            <span class="discount">40% OFF</span>
          </div>  
          <p class="description">Cafetera Moulinex Dolce Gusto</p>
        </div>
      </article>
      <article class="arti">
        <img src="images/products/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" class="mitad">
        <div class="bloque">
          <div class="icono">
            <i class="fas fa-truck"></i>
          </div>
          <div class="total">          
            <span class="price">$230.000</span>         
            <span class="discount">20% OFF</span>
          </div>
          <p class="description">Macbook Pro 2019</p>
        </div>        
      </article>
    </div>
    </section>
    <section class="ofertas">
      <h2 class="titles">Ofertas</h2>
      <article class="arti">
        <img src="images/products/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <div class="bloque">
          <div class="icono">
            <i class="fas fa-truck"></i>
          </div>
          <div class="total">          
            <span class="price">$6.770</span>         
            <span class="discount">40% OFF</span>
          </div>  
          <p class="description">Cafetera Moulinex Dolce Gusto</p>
        </div>
      </article>
      <article class="arti">
        <img src="images/products/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" class="mitad">
        <div class="bloque">
          <div class="icono">
            <i class="fas fa-truck"></i>
          </div>
          <div class="total">          
            <span class="price">$230.000</span>         
            <span class="discount">20% OFF</span>
          </div>
          <p class="description">Macbook Pro 2019</p>
        </div>        
      </article>
    </section>
  </main>
  <%- include('./partials/footer') %>  
</body>
</html>